/ header
/   .top
/     .row
/       .logo
/         = link_to "Travelmania", root_path 
/       nav
/         ul
/           li>= link_to "Главная", root_path, class: "active"
/           li>= link_to "Экскурсии", excursions_path
/           li>= link_to "Новости", news_path
/           li>= link_to "Услуги", services_path
/           li>= link_to "О Нас", about_path
/       .authentication
/         => link_to "Регистрация", '#', class: "signupBtn"
/         => link_to "Войти", '#' , class: "loginBtn"
/   .bottom
/     .row
/ .parent
/   .children

header>
  .logo>
    h1> Super Bad
  nav>
    a> First Link
    a> Second Link
    a> Third Link